<h1>Category Code</h1>
<form method="post">
    <fieldset>
        <label for="categoryCode" class="col-2">Category Code:</label>
        <input name="categoryCode" id="categoryCode"  class="" required />
    </fieldset>
    <button class="offset-3 btn blue darken-1">Save</button>
</form>
